.InsightPage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F8F8F8;
  }
  *{
    font-family: 'Poppins',sans-serif;
  }
  .actionContainer {
    padding: 10px 50px;
  
    border-radius: 8px;
    
   
  }
  
  .dataset-feature {
    padding: 10px 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  .visual-feature {
    padding: 10px 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }